.mainBodyContainer{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.mainBodyContainer:hover{
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.6); 
    box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.6);
}
.containerHeader{
    background-color: rgb(50, 50, 168);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.containerHeader h3{
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.containerHeader p{
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}
.mainItemHolder{
    border: 0.3px  solid rgb(221, 220, 220);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.ItemsHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemImg{
    width: 100px;
    height: 70px;
    object-fit: cover;
    
}
.itemHeader{
    font-size: 14px;
    padding-left: 15px;
    font-weight: normal;
    text-transform: capitalize;
}
.itemPrice{
    color: rgb(158, 158, 158);
    font-weight: normal;
    text-transform: capitalize;
    padding-left: 5px;
}
.horinzontalLine{
    border: 0.3px  solid rgb(233, 233, 233);
    width: 100%;
}