.bundleContainer{
    background-color: rgb(54, 77, 119);
    width: 100%;
    margin-top: 20px;
}
.bundleheader{
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
   font-size: 35px;
}